<% if(locals.showControl){ %>
<div class="dz-player-play-icon"></div>
<div 
  class="dz-player-control-bar" 
  data-type="<%= locals.srcType %>"
  <% if(locals.controlStyle){ %> style="<%= locals.controlStyle %>" <% } %>
  >
  <% if(locals.srcType != "hls"){ %>
  <div class="control-bar-progress">
    <input type="range" class="dz-player-seek-slider" min="0" max="100" step="any" value="0" />
      <span class="dz-player-play-time-tip">0.0</span>
  </div>
  <% } %>
  <div class="control-bar-options">
    <div class="control-bar-left">
      <div class="control-play"></div>
      <% if(locals.srcType == "hls"){ %>
        <div alt="刷新" style="display: none;" class="control-flush"></div>
        <div class="live-text">LIVE</div>
      <% } else { %>
        <% if(locals.playTime){ %>
          <span class="dz-player-play-time">00:00 / 00:00</span>
        <% } %>
      <% } %>
    </div>
    <div class="control-bar-right">

      <% if(locals.videoList){ %>
        <div class="dz-player-videoList">
          <div class="dz-player-videoList_over"></div>
          <div class="dz-player-videoList-text">清晰度</div>
          <div class="videoList-box">
            <div class="videoList-box__wrap">
              <% locals.videoList.forEach(function(video){ %>
                <div class="videoList-box__wrap-item <% if(video.default){ %>select <% } %>"><%- video.label; %></div>
              <% }); %>
            </div>
          </div>
        </div>
      <% } %>

      <% if(locals.ratios){ %>
        <div class="dz-player-playbackRatio">
          <div class="dz-player-playbackRatio_over"></div>
          <div class="dz-player-playbackRatio-text">倍速</div>
          <div class="playbackRatio-box">
            <div class="playbackRatio-box__wrap">
              <% locals.ratios.forEach(function(ratio){ %>
                <div class="playbackRatio-box__wrap-item" data-ratio="<%- ratio.value; %>"><%- ratio.label; %></div>
              <% }); %>
            </div>
          </div>
        </div>
      <% } %>
      <!-- 音量控制 -->
      <% if(locals.volumeControl){ %>
        <div class="dz-player-volume-bar">
          <i class="dz-player-volume-icon"></i>
          <input type="range" class="dz-player-volume-slider" min="0" max="1" step="0.01" value="<%= locals.volume %>" />
        </div>
      <% } %>
      <% if(locals.fullScreenControl){ %>
        <i class="dz-player-fullscreen"></i>
      <% } %>
    </div>

  </div>
</div>
<% } %>
<div class="dz-player-loading"></div>
