<video
    class="dz-player-video"
    webkit-playsinline
    playsinline
    src="<%= locals.src %>"
    <% if(locals.controlOptions && locals.controlOptions.nativeControls){ %> controls <% } %>
    <% if(locals.autoplay){ %> autoplay <% } %>
    <% if(locals.muted){ %> muted <% } %>
    <% if(locals.airplay){ %> airplay <% } %>
    <% if(locals.airplay){ %> x-webkit-airplay="allow" <% } %>
    <% if(locals.preload){ %> preload="<%= locals.preload %>" <% } %>
    <% if(locals.poster){ %> poster="<%= locals.poster %>" <% } %>
    <% if(locals.crossOrigin){ %> crossorigin="<%= locals.crossOrigin %>" <% } %>
    <% if(locals.videoStyle){ %> style="<%= locals.videoStyle %>" <% } %>
>
您的浏览器不支持video标签
</video>
<div class="dz-player-watermark" style="display: none"></div>